@page "/addnewstudentpage"
@using ERP_StudentManagement.StudentManagementComponents


<style>
    h2 {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<h2>ADD NEW STUDENT</h2>
<AddNewStudent />
